* {
  box-sizing: border-box;
}

body {
  background: #323975;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.fa-snowflake {
  animation: fall 10s linear forwards;
  color: #fff;
  position: absolute;
  top: -20px;
}

@keyframes fall {
  to {
    transform: translateY(185vh);
  }
}
